-# ヘッダー
= render 'sub-header'

-# ファッション情報
.main
  .main__show
    .main__show__contents
      title&text
    .main__show__upper
      画像表示
    .main__show__lower
      .main__show__lower__head
      .main__show__lower__wear
      .main__show__lower__accessory










-# フッター
= render 'footer'