-# ヘッダー
= render 'sub-header'

-# ファッション情報
.main
  .main__show
    .main__show__title
      .main__show__title__content
        title
    .main__show__contents
      .main__show__contents__content
        text
    .main__show__upper
      .main__show__contents__content
        画像表示
    .main__show__lower
      .main__show__lower__head
        ヘアスタイル
      .main__show__lower__wear
        ウェア系
      .main__show__lower__accessory
        アクセ










-# フッター
= render 'footer'