.header {
  padding: 0 60px;
  &__box {
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    &__upper {
      position: relative;
      display: flex;
      align-items: center;
      &__text {
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
        width: 140px;
        display: block;
        text-decoration: none;
      }
      &__search {
        margin-left: auto;
        width: 100%;
        &__form {
          width: 100%;
          display: flex;
          margin-bottom: 5px;
          &__input {
            width: calc(100% - 26px);
            height: 36px;
            padding: 0 0 0 5px;
          }
          &__btn {
            width: 36px;
            border: 0;
            cursor: pointer;
            background-color: pink;
            padding: 8px;
            &__icon {
              width: 100%;
              vertical-align: bottom;
            }
          }
        }
      }
    }
    &__lawer {
      font-size: 14px;
      display: flex;
      margin-bottom: 10px;
      &__left {
        position: relative;
        display: flex;
        &__category {
          display: flex;
          line-height: 38px;
          padding: 0;
          &__btn {
            color: #333;
            text-decoration: none;
            line-height: 32px;
            padding-right: 30px;
          }
        }
      }
      &__right {
        margin-left: auto;
        display: flex;
        &__login {
          line-height: 38px;
          padding: 0 0 0 16px;
          &__btn {
            display: flex;
            align-items: center;
            color: #333;
            text-decoration: none;
            line-height: 32px;
          }
        }
        &__sign-up {
          line-height: 38px;
          padding: 0 0 0 16px;
          &__btn {
            display: flex;
            align-items: center;
            color: #333;
            text-decoration: none;
            line-height: 32px;
          }
        }
      }
    }
  }
}